.history
node_modules
*.log
.vscode

.dl
snyk-linux

node_modules/
yarn.lock

bin/exiftool_files/lib/Image/ExifTool.pm.orig

# These are ExifTool's ~800 doc and test files:
bin/exiftool_files/t/
bin/exiftool_files/html/